<h1>Rock Paper Scissors</h1>
<form action='/results'>
  <div class="form-group" id="form1">
    <label for="input1">Choose Your Tool!</label>
    <input id="input1" name="input1" class="form-control" type="text" autofocus>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
