<h1>Rock Paper Scissors</h1>
<form action='/results'>
  <div class="form-group">
    <label for="input1">Player 1, Choose Your Tool!</label>
    <input id="input1" name="input1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="input2">Player 2, What is Your Choice? </label>
    <input id="input2" name="input2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
